attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
idna==2.10
importlib-metadata==3.3.0
jsonschema==3.2.0
psycopg2-binary==2.8.6
pyrsistent==0.17.3
requests==2.25.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
zipp==3.4.0
