component: admin
part-of: mosip
activeProfileEnv: mz 
springConfigLabel: {{ config_repo.branch }} 
configServerUrl: {{ config_server.internal_url }}
ingress:
   namespace: default
artifactoryUrl: {{ artifactory_url }} 
probe:
  initialDelay: 30  # Seconds
  period: 30 # Seconds
imagePullPolicy: Always
sitePublicUrl: {{ site.sandbox_public_url }}
internalDomain: {{ clusters.mz.nodeport_node }} 
isGlowroot: {{ is_glowroot }} 

dockerHub:
  private: {{ docker_hub.private }}  
  keyname: {{ docker_hub.keyname }}

services:
  admin: 
    serviceName: {{ versions.services.admin.service.keys()[0] }}
    dockerImage: {{ versions.services.admin.service.values()[0] }}
    containerPort: 8098
    servicePort: 80
    ingressPath: /v1/admin
    healthUrl: /v1/admin/actuator/health
  ui:
    serviceName: {{ versions.services.admin.ui.keys()[0] }}
    dockerImage: {{ versions.services.admin.ui.values()[0] }}
    containerPort: 80
    servicePort: 80
    configName: admin-ui-config # ConfigMap name
    apiHost: {{ site.sandbox_public_url }}/v1/
    ingressPath: /admin-ui
