[cluster]
node1 ansible_host=<ssh-ip> ansible_user=root ansible_ssh_private_key_file=~/.ssh/<private key>
node2 ansible_host=<ssh-ip> ansible_user=root ansible_ssh_private_key_file=~/.ssh/<private key>
node3 ansible_host=<ssh-ip> ansible_user=root ansible_ssh_private_key_file=~/.ssh/<private key>
node4 ansible_host=<ssh-ip> ansible_user=root ansible_ssh_private_key_file=~/.ssh/<private key>
