apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-host
  namespace: {{ .Release.Namespace }}
data:
  keycloak-internal-host: {{ .Values.keycloakInternalHost }}
  keycloak-internal-url: {{ printf "http://%s" .Values.keycloakInternalHost }}
  keycloak-external-host: {{ .Values.keycloakExternalHost }}
  keycloak-external-url: {{ printf "https://%s" .Values.keycloakExternalHost }}

