---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{regproc_bio_dedupe_service_name}}
  namespace: default
  labels:
    module: regproc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{regproc_bio_dedupe_service_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{regproc_bio_dedupe_service_name}}
        module: regproc
    spec:
      containers:
      - name: {{regproc_bio_dedupe_service_name}}
        image: '{{regproc_bio_dedupe_service_image}}:{{regproc_bio_dedupe_service_version}}'
        env:
        - name: active_profile_env
          value: qa 
        - name: spring_config_label_env
          value: master
        - name: spring_config_url_env
          value: {{config_server_external_url}}  # Config server is on MZ cluster
        - name: artifactory_url_env
          value: '{{artifactory_uri}}'
        - name: is_glowroot_env
          value: absent
        ports:
          - name: verticle-port
            containerPort: {{regproc_bio_dedupe_service_container_port}}
        readinessProbe:
          tcpSocket:
            port: {{regproc_bio_dedupe_service_container_port}}  
---
apiVersion: v1
kind: Service
metadata:
  name: {{regproc_bio_dedupe_service_name}}
  namespace: default
spec:
  ports:
  - port: 80 
    targetPort: {{regproc_bio_dedupe_service_container_port}} 
  selector:
    app: {{regproc_bio_dedupe_service_name}}
