{"{{ docker_registry_url }}":{"username":"{{ docker_registry_username }}","password":"{{ docker_registry_password }}","email":"mosipapp@docker-registry.{{ application_name }}.io","auth":"{{ username_password_base64_encoded }}"}}