server {
    listen 80 default_server;
    listen [::]:80 ipv6only=on default_server;
    fastcgi_buffers 16 16k;
                    fastcgi_buffer_size 32k;
                    proxy_buffer_size   512k;
                    proxy_buffers   8 512k;
                    proxy_busy_buffers_size   512k;
                    proxy_connect_timeout                   3600s;
                    proxy_send_timeout                      3600s;
                    proxy_read_timeout                       180s;
                    client_body_buffer_size 100M;

    location /v1/keymanager {
        proxy_pass http://localhost:8088;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
     }
    location /registrationprocessor/v1/packetreceiver/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://localhost:8081;
     }

    location /registrationprocessor/v1/registrationstatus/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://localhost:8083;
     }

    location /v1/utility/packetgenerator/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://localhost:8082;
     }

    location / {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
     }
}