---
# This script runs all the init SQL queries and populates all tables with
# test data 
# TODO: Init should not happen if Postgres has valuable data

- include: init_db.yml
  vars:
    pg_db_name: '{{item.db_name}}'
    pg_sql_path: '{{item.sql}}'
  with_items: '{{pg_databases}}'
        
