---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{regproc_reg_status_name}}
  namespace: default
  labels:
    module: reproc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{regproc_reg_status_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{regproc_reg_status_name}}
        module: reproc
    spec:
      containers:
      - name: {{regproc_reg_status_name}}
        image: '{{regproc_reg_status_image}}:{{regproc_reg_status_version}}'
        env:
        - name: active_profile_env
          value: dmz  # Different property file only for dmz zone 
        - name: spring_config_label_env
          value: master
        - name: spring_config_url_env
          value: {{config_server_external_url}}  # Config server is on MZ cluster
        - name: artifactory_url_env
          value: '{{artifactory_uri}}'
        - name: is_glowroot_env
          value: absent
        ports:
        - containerPort: {{regproc_reg_status_container_port}}
        readinessProbe:
          tcpSocket:
            port: {{regproc_reg_status_container_port}}  
---
apiVersion: v1
kind: Service
metadata:
  name: {{regproc_reg_status_name}}
  namespace: default
spec:
  ports:
  - port: 80 
    targetPort: {{regproc_reg_status_container_port}} 
  selector:
    app: {{regproc_reg_status_name}}
