[Unit]
Description=Dummy Ips provisioner for Nginx
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/sh -c 'ip link add tap-nginx-lb0 link $(ip -4 -o a | cut -d " " -f 2 | sed -n 2p) type macvtap && dhclient tap-nginx-lb0 && while [ -z $my_ip ] ; do sleep 2s && my_ip=$(ip -4 -o a show tap-nginx-lb0 | cut -d " " -f 7 | cut -d "/" -f 1) ; done && ip a del $my_ip/24 dev tap-nginx-lb0 && ip a add $my_ip/32 dev tap-nginx-lb0'
ExecStop=/bin/sh -c 'ip link delete tap-nginx-lb0'

[Install]
WantedBy=multi-user.target
