*.class
.mtj.tmp/
*.war
*.ear
hs_err_pid*
target/
.springBeans
.metadata
.factorypath
.classpath
.project
.settings/
.vertx/
bin/
tmp/
logs/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.DS_Store
test.txt
.idea/
.settings/
.sonarlint/
.recommenders/
/.recommenders/
**/*.iml
.vscode
