name: {{ config_server.name }} # Will be used as service name too
docker:
  image: mosipid/sandbox-config-server:1.1.0
  containerPort: 51000
  servicePort: 80
jarName: kernel-config-server # Without .jar. Used locally for Docker
component: config-server

domain: {{ sandbox_domain_name }}
internalDomain: {{ clusters.mz.nodeport_node }} 

exportLogs: enabled  # Let filebeat export the logs

encryptKey: '' # Passed diretly via command line

sandboxPublicUrl: {{ site.sandbox_public_url }}

gitRepo:
  uri: {{ config_repo.git_repo_uri }}
  searchFolders: {{ config_repo.search_folders }}
  private: {{ config_repo.private }} 
  username: {{ config_repo.gitusername }}    
  password: '' # Passed directly via command line

localRepo:
  enabled: {{ config_repo.local_git_repo.enabled }}
  mountPath: /var/lib/config_repo
  pv:
    name: config-server-pv
    size: 10Mi
  pvc:
    name: config-server-pvc
    size: 10Mi # Should not exceed pv size
  sc:
    name: ""
  nfs:
    server: {{ nfs.server }}
    path: {{ config_repo.local_git_repo.path }} 

services:
  config_server:
    podconfig: {{ podconfig.config_server.service | to_yaml }}
