namespace: default
name: {{ config_server.name }} # Will be used as service name too
docker:
  #image: mosipid/sandbox-config-server
  #tag: 1.0.5
  #containerPort: 51000
  image: hyness/spring-cloud-config-server
  tag: latest
  containerPort: 8888
  servicePort: 80
jarName: kernel-config-server # Without .jar. Used locally for Docker
component: config-server

ingressPath: /config
domain: {{ sandbox_domain_name }}
internalDomain: {{ clusters.mz.nodeport_node }} 

gitRepoUri: {{ config_repo.git_repo_uri }}
searchFolders: {{ config_repo.search_folders }}

javOpts: '-Dspring.cloud.config.server.git.username=pjoshi751 -Dspring.cloud.server.git.password=mhowNipx29'

localRepo:
  enabled: {{ config_repo.local_git_repo.enabled }}
  mountPath: /var/lib/config_repo
  pv:
    name: config-server-pv
    size: 10Mi
  pvc:
    name: config-server-pvc
    size: 10Mi # Should not exceed pv size
  sc:
    name: ""
  nfs:
    server: {{ nfs.server }}
    path: {{ config_repo.local_git_repo.path }} 

