---
apiVersion: apps/v1
kind: Deployment 
metadata:
  name: kernel-config-server
  namespace: default
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: kernel-config-server
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: kernel-config-server 
    spec:
      containers:
      - name: kernel-config-server
        # console:5000 is the registry running on console
        image: "console:5000/kernel-config-server:{{version}}"
        ports:
        - containerPort: 51000 
---
apiVersion: v1
kind: Service
metadata:
  name: kernel-config-server
  namespace: default

spec:
  selector:
    app: kernel-config-server
  ports:
    - port: 80
      targetPort: 51000
