sidecar:
  datasources:
    enabled: true
    label: grafana_datasource

grafana.ini:
  server:
    root_url: "https://{{sandbox_domain_name}}/{{mon_prop.grafana_ingress_path}}"
    serve_from_sub_path: true
 
ingress:
  enabled: true
  # Explicitly disabling any hosts and default values.yml seems to have default host specified.
  hosts: []
  path: "/{{mon_prop.grafana_ingress_path}}"

persistence:
  type: pvc
  enabled: true
  storageClassName: {{nfs.provisioner}} 
  accessModes:
    - ReadWriteOnce
  size: 1Gi

dashboardProviders: 
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default

## Configure grafana dashboard to import
## NOTE: To use dashboards you must also enable/configure dashboardProviders
## ref: https://grafana.com/dashboards
##
## dashboards per provider, use provider name as key.
##
dashboards: 
   default:
     node-dashboard:
       file: dashboards/dashboard_node.json

exportLogs: enabled  # Let filebeat export the logs
