sidecar:
  datasources:
    enabled: true
    label: grafana_datasource

grafana.ini:
  server:
    root_url: "https://{{sandbox_domain_name}}/{{mon_prop.grafana_ingress_path}}"
    serve_from_sub_path: true
 
ingress:
  enabled: true
  # Explicitly disabling any hosts and default values.yml seems to have default host specified.
  hosts: []
  path: "/{{mon_prop.grafana_ingress_path}}"
