[defaults]
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[ssh_connection]
ssh_args            = -o ControlMaster=no -o ControlPersist=no
control_path       = /dev/null
host_key_checking = False