image:
  registry: docker.io
  repository: mosipdev/mosip-file-server
  tag: develop
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: Always
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  # pullSecrets:
  #   - myRegistryKeySecretName

regclient:
  version: 1.2.1-SNAPSHOT
  mountDir: /home/mosip/build_files/
  ## Currently this is hardcoded. Will change in the future
  cryptoKey: bBQX230Wskq6XpoZ1c+Ep1D+znxfT89NxLQ7P4KFkc4=
  upgradeServerUrl: https://regclient.sandbox.xzy.net
  ## Here we check the health of syncdata service. The service must be accessible over internal channel.
  healthCheckUrl:  http://api-internal.sandbox.v3box1.net/v1/syncdata/actuator/health
