component: prereg
part-of: mosip
activeProfileEnv: mz
springConfigLabel: {{ config_repo.version }} 
configServerUrl: {{ config_server.internal_url }}
probe:
  initialDelay: 180  # Seconds
  period: 30 # Seconds
ingress:
   namespace: default
artifactoryUrl: {{ artifactory_url }} 
iamAdapterUrl: {{ iam_adapter_url }}
sitePublicUrl: {{ site.sandbox_public_url }}
imagePullPolicy: Always 
isGlowroot: {{ is_glowroot }}
exportLogs: enabled  # Let filebeat export the logs

dockerHub:
  private: {{ docker.hub.private }}  
  keyname: {{ docker.hub.keyname }}

services:
  application:
    serviceName: {{ versions.services.prereg.application.keys()[0] }} 
    dockerImage: {{ versions.services.prereg.application.values()[0] }}
    containerPort: 9090
    servicePort: 80
    ingressPath: /preregistration/v1
    healthUrl: /preregistration/v1/actuator/health
    podconfig: {{ podconfig.prereg.application | to_yaml }}
  batch:
    serviceName: {{ versions.services.prereg.batch.keys()[0] }} 
    dockerImage: {{ versions.services.prereg.batch.values()[0] }}
    containerPort: 9097
    servicePort: 80
    ingressPath: ""
    #healthUrl: /preregistration/v1/actuator/health # TODO: No actuator?
    podconfig: {{ podconfig.prereg.batch | to_yaml }}
  booking:
    serviceName: {{ versions.services.prereg.booking.keys()[0] }} 
    dockerImage: {{ versions.services.prereg.booking.values()[0] }}
    containerPort: 9095
    servicePort: 80
    ingressPath: /preregistration/v1/appointment
    healthUrl: /preregistration/v1/actuator/health
    podconfig: {{ podconfig.prereg.booking | to_yaml }}
  datasync:
    serviceName: {{ versions.services.prereg.datasync.keys()[0] }} 
    dockerImage: {{ versions.services.prereg.datasync.values()[0] }}
    containerPort: 9094
    servicePort: 80
    ingressPath: /preregistration/v1/sync
    healthUrl: /preregistration/v1/actuator/health
    podconfig: {{ podconfig.prereg.datasync | to_yaml }}
  captcha:
    serviceName: {{ versions.services.prereg.captcha.keys()[0] }} 
    dockerImage: {{ versions.services.prereg.captcha.values()[0] }}
    containerPort: 9089
    servicePort: 80
    ingressPath: /preregistration/v1/captcha
    healthUrl: /preregistration/v1/captcha/actuator/health
    podconfig: {{ podconfig.prereg.captcha | to_yaml }}
  ui:
    serviceName: {{ versions.services.prereg.ui.keys()[0] }} 
    dockerImage: {{ versions.services.prereg.ui.values()[0] }}
    containerPort: 80
    servicePort: 80
    configName: prereg-ui-config # ConfigMap name
    apiHost: https://{{ sandbox_domain_name }}/
    ingressPath: /pre-registration-ui
    podconfig: {{ podconfig.prereg.ui | to_yaml }}
    
