<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Welcome to MOSIP Sandbox!</title>
</head>

<body>
  <h1> This is MOSIP Sandbox!</h1>

  <h2>Version</h2>
    <p>
      <a href="https://{{sandbox_domain_name}}/versions.txt" type="text/plain">Docker versions</a>
    </p>

  <h2>MOSIP Modules </h2>
    <p>
      <a href="https://{{sandbox_domain_name}}/pre-registration-ui">Pre-Registration</a>
    </p>
    <p>
      <a href="https://{{sandbox_domain_name}}/admin-ui">Admin</a>
    </p>
    <p>
      <a href="https://{{sandbox_domain_name}}/registration-client/{{versions.services.registration_client.version}}/reg-client.zip">Registration Client Zip</a>
    </p>

  <h2>IAM</h2>
    <p>
      <a href="https://{{sandbox_domain_name}}/keycloak/auth/">Keycloak</a>
    </p>

  <h2>ActiveMQ</h2>
    <p>
      <a href="https://{{sandbox_domain_name}}/admin/">ActiveMQ Web Console</a>
    </p>

  <h2>Storage</h2>
    <p>
      <b>Postgres</b>: host: {{sandbox_domain_name}}, port: {{postgres.port}} 
    </p>
    <p>
      <a href="https://{{sandbox_domain_name}}/minio/">Minio</a>
    </p>

  <h2>Monitoring</h2>
    <p>
      <a href="https://{{sandbox_domain_name}}/mz-dashboard">K8s Dashboard - MZ</a>
    </p>

    <p>
      <a href="https://{{sandbox_domain_name}}/dmz-dashboard">K8s Dashboard - DMZ</a>
    </p>

    <p>
      <a href="https://{{sandbox_domain_name}}/mz-grafana/">Grafana - MZ</a>
    </p>

    <p>
      <a href="https://{{sandbox_domain_name}}/dmz-grafana/">Grafana - DMZ</a>
    </p>

    <p>
      <a href="https://{{sandbox_domain_name}}/kibana/">Kibana</a>
    </p>

</body>
</html>

