# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    disable_symlinks off; 

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    #include /etc/nginx/conf.d/*.conf;

    server {
        listen       80 default_server;
        listen       [::]:80 default_server;
        server_name  _;
        root         /usr/share/nginx/html;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }

# Settings for a TLS enabled server.

    server {
        listen       443 ssl http2 default_server;
        listen       [::]:443 ssl http2 default_server;
        server_name  _;
        root         /usr/share/nginx/html;

        proxy_buffers 8 16k;
        proxy_buffer_size 32k;  # This is needed to as responses may be huge
        client_max_body_size 8m; # Biometrics may there in the request.
        ssl_certificate {{ ssl_certificate }};
        ssl_certificate_key {{ ssl_certificate_key }};
        ssl_session_cache shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_ciphers HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers on;

        proxy_set_header Host $host;  
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        
        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
        }

        location /keycloak/ {
          proxy_pass {{clusters.mz.ingress.base_url}}/keycloak/;
        }

        location /config/ {
          proxy_pass {{clusters.mz.ingress.base_url}}/config/;
        }

        location /preregistration/v1/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/preregistration/v1/;
        }
        location /pre-registration-ui/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/pre-registration-ui/;
        }
   
        location /v1/masterdata/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/masterdata/;
        }

        location /v1/keymanager/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/keymanager/;
        }

        location /v1/syncdata/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/syncdata/;
        }

        location /v1/idgenerator/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/idgenerator/;
        }

        location /v1/ridgenerator/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/ridgenerator/;
        }

        location /v1/pridgenerator/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/pridgenerator/;
        }

        location /v1/otpmanager/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/otpmanager/;
        }

        location /v1/notifier/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/notifier/;
        }
   
        location /v1/authmanager/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/authmanager/;
        }

        location /v1/auditmanager/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/auditmanager/;
        }
   
        location /idauthentication/v1/auth/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/idauthentication/v1/auth/;
        }

        location /idauthentication/v1/kyc/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/idauthentication/v1/kyc/;
        }

        location /idauthentication/v1/otp/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/idauthentication/v1/otp/;
        }

        location /idauthentication/v1/internal/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/idauthentication/v1/internal/;
        }

        location /idrepository/v1/identity/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/idrepository/v1/identity/;
        }

        # Note the below is for VID access.        
        location /idrepository/v1/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/idrepository/v1/;                                                                         
         }


        location /registrationprocessor/v1/registrationstatus/ {
           proxy_pass {{clusters.dmz.ingress.base_url}}/registrationprocessor/v1/registrationstatus/;
        }

        location /registrationprocessor/v1/packetreceiver/ {
           proxy_pass {{clusters.dmz.ingress.base_url}}/registrationprocessor/v1/packetreceiver/;
        }

        location /registrationprocessor/v1/securezone/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/registrationprocessor/v1/securezone/;
        }

        location /registrationprocessor/v1/manualverification/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/registrationprocessor/v1/manualverification/;
        }

        location /registrationprocessor/v1/requesthandler/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/registrationprocessor/v1/requesthandler/;
        }

        location /registrationprocessor/v1/registrationtransaction/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/registrationprocessor/v1/registrationtransaction/;
        }

        location /registrationprocessor/v1/print/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/registrationprocessor/v1/print/;
        }

        location /registrationprocessor/v1/bio-dedupe/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/registrationprocessor/v1/bio-dedupe/;
        }

        location /partnermanagement/v1/misps/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/partnermanagement/v1/misps/;
        }

        location /partnermanagement/v1/policies/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/partnermanagement/v1/policies/;
        }

        location /partnermanagement/v1/partners/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/partnermanagement/v1/partners/;
        }

        location /partnermanagement/v1/pmpartners/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/partnermanagement/v1/pmpartners/;
        }

        location /mz-dashboard/ { # note: https needed here
           proxy_pass https://{{clusters.mz.nodeport_node}}:{{clusters.mz.dashboard.nodeport}}/;
        }

        location /dmz-dashboard/ { # note: https needed here
           proxy_pass https://{{clusters.dmz.nodeport_node}}:{{clusters.dmz.dashboard.nodeport}}/;
        }

        location /{{clusters.mz.monitoring.grafana_ingress_path}}/ {
           proxy_pass  {{clusters.mz.ingress.base_url}}/{{clusters.mz.monitoring.grafana_ingress_path}}/;
        }

        location /{{clusters.dmz.monitoring.grafana_ingress_path}}/ {
           proxy_pass  {{clusters.dmz.ingress.base_url}}/{{clusters.dmz.monitoring.grafana_ingress_path}}/;
        }

        location /kibana/ {
           proxy_pass  {{clusters.mz.ingress.base_url}}/kibana/;
        }

        location /v1/admin/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/admin/;
        }

        location /admin-ui/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/admin-ui/;
        }

        location /resident/v1/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/resident/v1/;
        }

        location /registration-client/ {
           proxy_pass {{clusters.dmz.ingress.base_url}}/registration-client/;
        }
        # This is actually Activemq url. TODO: Change it to /activemq/admin
        location /admin/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/admin/;
        }

        location /commons/v1/packetmanager/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/commons/v1/packetmanager/;
        }

        location /minio/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/minio/;
        }

        location /v1/bioextractor/mock/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/bioextractor/mock/;
        }

        location /v1/credentialrequest/{
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/credentialrequest/;
        }

        location /v1/credentialservice/{
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/credentialservice/;
        }

        location /v1/datashare/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/datashare/;
        }

        location /v1/biosdk-service/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/biosdk-service/;
        }

        location /v1/print/ {
           proxy_pass {{clusters.mz.ingress.base_url}}/v1/print/;
        }

        location /websub/ {
           proxy_pass {{clusters.dmz.ingress.base_url}}/websub/;
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }

}

stream {
    server {
        listen {{postgres.port}};  
        proxy_pass {{postgres.host}}:{{postgres.port}};
    }

    server {
        listen {{activemq.nodeport}};  # For activemq. Connecting to nodeport
        proxy_pass {{clusters.mz.nodeport_node}}:{{activemq.nodeport}};
    }
}


