# This end point connects to git http container
kind: Endpoints
apiVersion: v1
metadata:
  name: '{{gitrepo_service_name}}'
subsets:
  - addresses:
    - ip: '{{console_ip}}'
    ports:
      - port: {{config_gitrepo_port}} 
