---

client_id: <your_client_id>
client_secret: <your_client_secret>
subscription_id: <your_subscription_id>
tenant_id: <your_tenant_id>

# Keep Environment name to a maximum of 6 characters length, comprising only of uppercase and lowercase alphabets (a-z, A-Z), or it can show unexpected results in later parts
environments:
    - dev
