---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{prereg_notification_name}}
  namespace: default
  labels:
    module: prereg
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{prereg_notification_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{prereg_notification_name}}
        module: prereg
    spec:
      containers:
      - name: {{prereg_notification_name}}
        image: '{{prereg_notification_image}}:{{prereg_notification_version}}'
        env:
        - name: active_profile_env
          value: qa
        - name: spring_config_label_env
          value: master
        - name: spring_config_url_env
          value: {{config_server_url}}
        - name: artifactory_url_env
          value: '{{artifactory_uri}}'
        - name: is_glowroot_env
          value: absent
        ports:
        - containerPort: {{prereg_notification_container_port}}
        readinessProbe:
          tcpSocket:
            port: {{prereg_notification_container_port}}  # All defaults used
---
apiVersion: v1
kind: Service
metadata:
  name: {{prereg_notification_name}}
  namespace: default
spec:
  ports:
  - port: 80 
    targetPort: {{prereg_notification_container_port}} 
  selector:
    app: {{prereg_notification_name}}
