import com.cloudbees.plugins.credentials.*;
import com.cloudbees.plugins.credentials.domains.Domain;
import org.jenkinsci.plugins.plaincredentials.impl.FileCredentialsImpl;

def secret = '''{{lookup("file", "~/k8_deployment_config_{{ env_name }}.yaml") }}'''

def secretBytes = SecretBytes.fromBytes(secret.getBytes())
def credentials = new FileCredentialsImpl(CredentialsScope.GLOBAL, "{{ env_name }}DeploymentClusterCredentials", 'Dev Deployment Cluster Credentials', '{{ env_name }}DeploymentClusterCredentials.yaml', secretBytes)

SystemCredentialsProvider.instance.store.addCredentials(Domain.global(), credentials)
