name: keycloak
dockerImage: jboss/keycloak
dockerTag: 9.0.0 
keycloakUser: {{ keycloak.user }}
keycloakPassword: '' # To be passed directly with helm command
domain: {{ sandbox_domain_name }}
internalDomain: {{ clusters.mz.nodeport_node }} 
keycloakExternalUrl: "https://{{ sandbox_domain_name }}/keycloak/auth/"  
containerPort: 8080
servicePort: 80
db:
  host: {{ postgres.service_name }}
  port: {{ postgres.service_port }} 
  user: {{ postgres.user }}
  password: '' # To be passed directly with helm command
ingress:
   namespace: default 
