import jenkins.model.*
import javax.xml.transform.stream.*

def jobName = "init-all-modules"
def configXml = '''{{lookup("file", "/tmp/init-modules-jenkins-job.xml") }}''' // your xml goes here

def xmlStream = new ByteArrayInputStream( configXml.getBytes() )

if (Jenkins.instance.getItemByFullName(jobName) == null){
    Jenkins.instance.createProjectFromXML(jobName, xmlStream)
}
else{
    (Jenkins.instance.getItemByFullName(jobName)).updateByXml(new StreamSource(xmlStream));
}