# The base hadoop image to use for all components.
# See this repo for image build details: https://github.com/Comcast/kube-yarn/tree/master/image
image:
  repository: danisla/hadoop
  tag: 2.9.0
  pullPolicy: IfNotPresent

# The version of the hadoop libraries being used in the image.
hadoopVersion: 2.9.0

# Select antiAffinity as either hard or soft, default is soft
antiAffinity: "soft"   
# This is for taint and toleration to assign hdfs pods to specific node. If only one
# node is specified, then the above antiAffnity has to be "soft"
nodeAffinity:
  enabled: {{ hdfs.node_affinity.enabled }}
  node: {{ hdfs.node_affinity.node }}
  taint:
    key: {{ hdfs.node_affinity.taint.key }}
    value: {{ hdfs.node_affinity.taint.value }}

hdfs:
  nameNode:
    pdbMinAvailable: 1

    resources:
      requests:
        memory: "256Mi"
        cpu: "10m"
      limits:
        memory: "2048Mi"
        cpu: "1000m"

  dataNode:
    replicas: 1 

    pdbMinAvailable: 1

    resources:
      requests:
        memory: "256Mi"
        cpu: "10m"
      limits:
        memory: "2048Mi"
        cpu: "1000m"

  webhdfs:
    enabled: false

yarn:
  resourceManager:
    pdbMinAvailable: 1

    resources:
      requests:
        memory: "256Mi"
        cpu: "10m"
      limits:
        memory: "2048Mi"
        cpu: "2000m"

  nodeManager:
    pdbMinAvailable: 1

    # The number of YARN NodeManager instances.
    replicas: 2

    # Create statefulsets in parallel (K8S 1.7+)
    parallelCreate: false

    # CPU and memory resources allocated to each node manager pod.
    # This should be tuned to fit your workload.
    resources:
      requests:
        memory: "2048Mi"
        cpu: "1000m"
      limits:
        memory: "2048Mi"
        cpu: "1000m"

persistence:
  scName: ""
  nameNode: # TODO: Does every instance of nn and dn have its own storage path?
    enabled: true
    accessMode: ReadWriteMany
    size: {{ hdfs.nfs.nn.size }} 
    nfs:
      server: {{ hdfs.nfs.server }}
      path:  {{ hdfs.nfs.nn.path }} 
  dataNode:
    enabled: true
    accessMode: ReadWriteMany
    size: {{ hdfs.nfs.dn.size }} 
    nfs:
      server: {{ hdfs.nfs.server}}
      path:  {{ hdfs.nfs.dn.path }} 
