---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer 

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{pv_name}} 
  labels:
    name: {{pv_name}} 
spec:
  capacity:
    storage: {{pv_size}} 
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain # Only this policy supported for this type of PV 
  storageClassName: local-storage
  local:
    path: {{pv_path}}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{pv_node_hostname}} # The node on which pv_path directory exists
  
