namespace: default
component: idrepo
part-of: mosip
activeProfileEnv: mz 
springConfigLabel: master
configServerUrl: http://config-server/config
ingress:
   namespace: default
artifactoryUrl: {{ artifactory_url }} 
probe:
  initialDelay: 60  # Seconds
  period: 30 # Seconds
imagePullPolicy: Always
domainName: {{ sandbox_domain_name }}
internalDomain: {{ clusters.mz.nodeport_node }} 
isGlowroot: {{ is_glowroot }} 
services:
  identity:
    serviceName: idrepo-identity-service
    dockerImage: mosipdev/id-repository-identity-service
    dockerTag: 1.0.9
    containerPort: 8090
    servicePort: 80
    ingressPath: /idrepository/v1/identity 
    healthUrl: /idrepository/v1/identity/actuator/health
  vid: 
    serviceName: idrepo-vid-service
    dockerImage: mosipdev/id-repository-vid-service
    dockerTag: 1.0.9
    containerPort: 8091
    servicePort: 80
    ingressPath: /idrepository/v1/vid
    healthUrl: /idrepository/v1/actuator/health # TODO: Check this url. It does not have /vid

generators:
  uinhash:  
    name:  idrepo-uin-hash-generator 
    dockerImage: mosipdev/kernel-salt-generator
    dockerTag: 1.0.9
    table: mosip.idrepo.identity.db.shard.uinHashTable
    db_alias: mosip.idrepo.identity.db.shard
    schema: mosip.idrepo.identity.db.shard.schema  
  uinencrypt:
    name:  idrepo-uin-encrypt-generator 
    dockerImage: mosipdev/kernel-salt-generator
    dockerTag: 1.0.9
    table: mosip.idrepo.identity.db.shard.uinEncryptTable 
    db_alias: mosip.idrepo.identity.db.shard 
    schema_name: mosip.idrepo.identity.db.shard.schema 
  vidhash:
    name:  idrepo-vid-hash-generator 
    dockerImage: mosipdev/kernel-salt-generator
    dockerTag: 1.0.9
    table: mosip.idrepo.vid.db.uinHashTable
    db_alias: mosip.idrepo.vid.db 
    schema: mosip.idrepo.vid.db.schema
  videncrypt:
    name:  idrepo-vid-encrypt-generator 
    dockerImage: mosipdev/kernel-salt-generator
    dockerTag: 1.0.9
    table: mosip.idrepo.vid.db.uinEncryptTable 
    db_alias: mosip.idrepo.vid.db 
    schema: mosip.idrepo.vid.db.schema 

