component: idrepo
part-of: mosip
activeProfileEnv: mz 
springConfigLabel: {{ config_repo.version }} 
configServerUrl: {{ config_server.internal_url }}
exportLogs: enabled  # Let filebeat export the logs

ingress:
   namespace: default
artifactoryUrl: {{ artifactory_url }} 
sitePublicUrl: {{ site.sandbox_public_url }}
iamAdapterUrl: {{ iam_adapter_url }}
biosdkServiceUrl: {{ biosdk_service_url }}

probe:
  initialDelay: 60  # Seconds
  period: 30 # Seconds
imagePullPolicy: Always

isGlowroot: {{ is_glowroot }} 

dockerHub:
  private: {{ docker.hub.private }}  
  keyname: {{ docker.hub.keyname }}

extraction_format: mock

services:
  identity:
    serviceName: {{ versions.services.idrepo.identity.keys()[0] }} 
    dockerImage: {{ versions.services.idrepo.identity.values()[0] }}
    serviceName: idrepo-identity-service
    containerPort: 8090
    servicePort: 80
    ingressPath: /idrepository/v1/identity 
    healthUrl: /idrepository/v1/identity/actuator/health
    podconfig: {{ podconfig.idrepo.identity | to_yaml }}

  vid: 
    serviceName: {{ versions.services.idrepo.vid.keys()[0] }} 
    dockerImage: {{ versions.services.idrepo.vid.values()[0] }}
    containerPort: 8091
    servicePort: 80
    ingressPath: /idrepository/v1/vid
    healthUrl: /idrepository/v1/actuator/health # TODO: Check this url. It does not have /vid
    podconfig: {{ podconfig.idrepo.vid | to_yaml }}

  bioextractor:
    serviceName: {{ versions.services.idrepo.bioextractor.keys()[0] }}
    dockerImage: {{ versions.services.idrepo.bioextractor.values()[0] }}
    containerPort: 8100
    servicePort: 80
    ingressPath: /v1/bioextractor/mock
    healthUrl: /v1/bioextractor/mock/actuator/health
    podconfig: {{ podconfig.idrepo.bioextractor | to_yaml }}

  credentialrequest:
    serviceName: {{ versions.services.idrepo.credentialreq.keys()[0] }}
    dockerImage: {{ versions.services.idrepo.credentialreq.values()[0] }}
    containerPort: 8094
    servicePort: 80
    ingressPath: /v1/credentialrequest
    healthUrl: /v1/credentialrequest/actuator/health
    podconfig: {{ podconfig.idrepo.credentialreq | to_yaml }}

  credentialservice:
    serviceName: {{ versions.services.idrepo.credentialservice.keys()[0] }}
    dockerImage: {{ versions.services.idrepo.credentialservice.values()[0] }}
    containerPort: 8095
    servicePort: 80
    ingressPath: /v1/credentialservice
    healthUrl: /v1/credentialservice/actuator/health
    podconfig: {{ podconfig.idrepo.credentialservice | to_yaml }}

generators:
  salt:  
    name: {{ versions.services.idrepo.salt.keys()[0] }} 
    dockerImage: {{ versions.services.idrepo.salt.values()[0] }}
