
- name: Ensures tmp directory is present
  file: 
    path: '{{tmp_dir}}'
    state: directory

- name: Ensures log directory is present
  file: 
    path: '{{logs_dir}}'
    state: directory

# TODO: For some reason below link is not working any more.  Check after some time
#- name: Install psql10 rpm
#  yum: 
#    name:  https://yum.postgresql.org/10/redhat/rhel-7-x86_64/pgdg-centos10-10-2.noarch.rpm 
#    state: present
#  become: yes
#
#- name: Install psql10
#  yum:
#    name:  postgresql10
#    state: present
#  become: yes

- name: Install openshift
  pip:
    name: openshift
  become: yes

- name: Install selinux
  pip:
    name: selinux
  become: yes

- name: Check out mosip/commmons git repo
  git:
    repo: https://github.com/mosip/commons
    dest: '{{commons_repo_location}}/commons'
    update: no
    force: no
    
- name: Check out mosip/pre-registration git repo
  git:
    repo: https://github.com/mosip/pre-registration
    dest: '{{pre_reg_repo_location}}/pre-registration' 
    update: no
    force: no


