clusterDomain: cluster.local
logRetentionBytes: {{ kafka_prop.log_retention_bytes }}
defaultReplicationFactor: {{ kafka_prop.default_replication_factor }}
offsetsTopicReplicationFactor: {{ kafka_prop.offsets_topic_replication_factor }}
transactionStateLogReplicationFactor: {{ kafka_prop.transaction_state_log_replication_factor }}
numPartitions: {{ kafka_prop.num_partitions }}
replicaCount: {{ kafka_prop.replica_count }}
sidecars: {}
autoCreateTopicsEnable: true

persistence:
  enabled: true
  storageClass: {{nfs.provisioner}}
  accessModes:
    - ReadWriteOnce
  size: {{ kafka_prop.size }}

zookeeper:
  replicaCount: {{ kafka_prop.zookeeper_replica_count }}
  persistence:
    enabled: true
    storageClass: {{nfs.provisioner}}
    size: {{ kafka_prop.zookeeper_size }}