---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer 

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: config-repo-local-storage 
  labels:
    name: config-repo-local-storage
spec:
  capacity:
    storage: 10Mi 
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain # Only this policy supported for this type of PV 
  storageClassName: local-storage
  local:
    path: {{config_repo_node_path}}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{config_repo_local_storage_node}} # The node on which this directory exists
  
---

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: config-repo-pv-claim
  labels:
    app: config-repo-pv-claim
spec:
  storageClassName: local-storage
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
  selector:
    matchLabels:
      name: config-repo-local-storage
---
