---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer 

---

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{config_server_pvc_name}}
  labels:
    app: {{config_server_pvc_name}}
spec:
  storageClassName: local-storage
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{config_server_pvc_size}}
  selector:
    matchLabels:
      name: {{config_server_pv_name}} 
---
