---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: hdfs-dn-local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: hdfs-dn-local-storage
spec:
  capacity:
    storage: 7Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain # Only this policy supported for this type of PV
  storageClassName: hdfs-dn-local-storage
  local:
    path: '{{hdfs_dn_local_storage_path}}'
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - '{{mz_persistent_storage_node}}'

