{
    "@context": "https://w3id.org/security/v2",
    "id": "{{site.sandbox_public_url}}/.well-known/controller.json",
    "assertionMethod": [
      "{{site.sandbox_public_url}}/.well-known/public-key.json"
    ]
  }
