{
  "@context": [{
       "@version": 1.1
    },"https://www.w3.org/ns/odrl.jsonld", {
    "mosip": "{{site.sandbox_public_url}}/.well-known/",
    "schema": "http://schema.org/",
    "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
    "vcVer": "mosip:vcVer",
    "UIN": "mosip:UIN",
    "addressLine1": "mosip:addressLine1",
    "addressLine2": "mosip:addressLine2",
    "addressLine3": "mosip:addressLine3",
    "city": "mosip:city",
    "dateOfBirth": "mosip:dateOfBirth",
    "email": "mosip:email",
    "fullName": "mosip:fullName",
    "gender": "mosip:gender",
    "phone": "mosip:phone",
    "postalCode": "mosip:postalCode",
    "province": "mosip:province",
    "region": "mosip:region",
    "biometrics": "mosip:biometrics"
  }]
}
