{
  "@context": "https://w3id.org/security/v2",
  "type": "RsaVerificationKey2018",
  "id": "{{site.sandbox_public_url}}/mosipvc/public-key.json",
  "controller": "{{site.sandbox_public_url}}/mosipvc/controller.json",
  "publicKeyPem": "{{certificate}}"
}