---
apiVersion: apps/v1
kind: Deployment 
metadata:
  name: {{config_server_name}}
  namespace: default
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: {{config_server_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{config_server_name}} 
    spec:
      containers:
      - name: {{config_server_name}}
        image: {{config_server_image}}
        env:
        - name: env_git_uri 
          value: {{config_repo_uri}}         
        - name: env_version
          value: {{config_server_version}}
        - name: env_jar_name 
          value: {{config_server_jar_name}}
        - name: env_config_folder 
          value: {{config_repo_search_folder}}
        imagePullPolicy: "IfNotPresent" 
        ports:
        - containerPort: 51000 
        volumeMounts:
        - name: repo
          mountPath: {{config_repo_mount_path}} 
        imagePullPolicy: "IfNotPresent"
      volumes:
      - name: repo 
        persistentVolumeClaim:
          claimName: config-repo-pv-claim

---
apiVersion: v1
kind: Service
metadata:
  name: {{config_server_name}}
  namespace: default

spec:
  selector:
    app: {{config_server_name}}
  ports:
    - port: 80
      targetPort: 51000
