# DMZ cluster
- import_playbook: cluster.yml
  vars:
    cluster: dmzcluster
    master: dmzmaster
    workers: dmzworkers

# Ingress nginx controller
- hosts: console
  vars:
    kube_config: '{{clusters.dmz.kube_config}}'
    install_name: 'ingress-nginx'
    helm_chart: '{{charts_root}}/ingress-nginx'
    is_template: true
    helm_namespace: '{{clusters.dmz.ingress.namespace}}'
    helm_values: '{{charts_root}}/ingress-nginx/values.template.j2'
    ingress_ports: '{{clusters.dmz.ingress.nodeports}}'
  roles:
    - {role:  helm, tags: [dmz-ingress]}

# Kubernetes dashboard
- hosts: console
  vars:
    kube_config: '{{clusters.dmz.kube_config}}' 
    cluster_name: 'dmz'
    dashboard_ingress_url: '{{clusters.dmz.dashboard.url}}'
  roles:
    - {role: k8scluster/dashboard}
