# This play installs all the MOSIP environment
#

- hosts: console
  gather_facts: true
  vars:
    kube_config: '{{clusters.mz.kube_config}}'  # Deploy all these on mz cluster
  roles:
     - {role: clamav, tags: [clamav]} # 
     - {role: activemq, tags: [activemq]} # 


