# Installs HDFS.

# Create folders for persistence on NFS
- hosts: nfsserver
  tasks:
    - {name: 'Create folder', file: {name: '{{hdfs.nfs.nn_path}}', state: directory}, become: yes}
    - {name: 'Create folder', file: {name: '{{hdfs.nfs.dn_path}}', state: directory}, become: yes}

# Run hadoop and initialize it.
- hosts: console
  gather_facts: true
  vars:
    kube_config: '{{clusters.mz.kube_config}}'  # Deploy all these on mz cluster
  roles:
     - {role: helm, install_name: 'hadoop', helm_chart: '{{charts_root}}/hadoop', tags: [hdfs]}
     - {role: hdfs-init,  tags: [hdfs-init]}

