- hosts: console
  vars:
    kube_config: '{{clusters.mz.kube_config}}'
    install_name: 'idrepo'
    helm_chart: '{{charts_root}}/idrepo'
    is_template: true  
    helm_namespace: 'default'
    helm_values: '{{charts_root}}/idrepo/values.template.j2'
    helm_strings: ''
  roles:
    - {role:  helm}
