# This play installs Postgres and dependent components
#
#
#
#-# Create folder on nfs 
- hosts: nfsserver
  tasks:
    - {name: 'Create folder', file: {name: '{{postgres.nfs_path}}', state: directory}, become: yes}

# Install postgres 
- hosts: console
  vars:
    kube_config: '{{clusters.mz.kube_config}}'
    install_name: 'postgres'
    helm_chart: '{{charts_root}}/postgres'
    is_template: true  
    helm_namespace: 'default'
    helm_values: '{{charts_root}}/postgres/values.template.j2'
  roles:
    - {role:  helm}

  tasks:
    # TODO:  We are waiting here for postgres to settle down. This must be changed to 
    # a better check later
    - name: Waiting for postgres to install completely.
      pause:
        seconds: 30 

# Separate play for init to keep sequence of execution
- hosts: console
  roles:
     - {role: repos, tags: [repos]}  # These repos have sql scripts
     - {role: postgres-init, tags: [postgres-init]} 


