
---
# Global variables - accessed by different roles and plays
#
tmp_dir: '/tmp/' 
logs_dir: '/tmp/'

sandbox_domain_name: test-sandbox.southindia.cloudapp.azure.com 
site:
  sandbox_public_url: 'https://{{sandbox_domain_name}}'
  ssl:
    get_certificate: true  # get a fresh certificate for the domain using Letsencrypt.
    email: info@mosip.io
    certificate: '/etc/letsencrypt/live/{{sandbox_domain_name}}/fullchain.pem'
    certificate_key: '/etc/letsencrypt/live/{{sandbox_domain_name}}/privkey.pem'
  captcha:
    google_recaptcha_site_key: mysitekey
    google_recaptcha_secret_key: mysecretekey
  smtp:
    email_from: mosiptestuser@gmail.com
    host: smtp.sendgrid.net
    username: apikey
    password: password
   
install_root: /home/mosipuser/mosip-infra/deployment/sandbox-v2
charts_root: '{{install_root}}/helm/charts'  # Helm charts root

artifactory_uri: 'http://13.71.87.138:8040'

docker_wait_time: 600   # Wait for docker to pull and deploy

# Any of the worker nodes of a cluster may be used to access nodeport
mz_cluster_any_node: '{{groups["mzworkers"][0]}}'
dmz_cluster_any_node: '{{groups["dmzworkers"][0]}}'

# Config files
mz_kube_config: "{{lookup('env', 'HOME') }}/.kube/mzcluster.config" 
dmz_kube_config: "{{lookup('env', 'HOME') }}/.kube/dmzcluster.config" 

# Dashboard ports
mz_dashboard_port: 8001
dmz_dashboard_port: 8002

# Ingress is in NodePort configuration. So connect to any node cluster
mzingress:
  nodeport_http: 30080  # TODO: Shoud match with helm
  nodeport_https: 30443
  base_url: 'http://{{mz_cluster_any_node}}:30080' # Same as nodeport_http

dmzingress:
  nodeport_http: 30080  # TODO: Shoud match with helm
  nodeport_https: 30443
  base_url: 'http://{{dmz_cluster_any_node}}:30080' # Same as nodeport_http

mz_persistent_storage_node: mzworker0  # All persistent data in MZ will be stored on this node. TODO: this should match helm

# Registration processor shared variables
#
regproc:
  landing_folder: /mnt/regproc/landing 
  landing_hostname: dmzworker0  # Should be same one used in creating these folders (see regproc.yml) 

# Postgres persistent storage
postgres:
  local_storage_path: /mnt/mosip_data/postgres  # TODO: This should match with helm charts
  service_name: postgres # svc on Kubernetes
  server: mzworker0 # Nodeport
  local_port: 30090  # fixed for connecting from outside the cluster
  user: postgres
  password: postgres

# hdfs dn and nn
hdfs_dn_local_storage_path: /mnt/mosip_data/hdfs/dn
hdfs_nn_local_storage_path: /mnt/mosip_data/hdfs/nn

config_server_external_url: '{{ingress_base_url}}/config'

# SFTP: used for picking up packets from DMZ
sftp_user: 'sftpuser'  # This should be same in config files

# Keycloak
keycloak:
  user: admin
  password: admin
  url: '{{mzingress.base_url}}/keycloak'

softhsm_base_path: /mnt/mosip_data/softhsm 
softhsm:
  keymanager:  
    label: keymanager  
    conf_file: softhsm2.conf
    conf_path: '{{install_root}}/roles/softhsm-prep/files/'
    tokens_path: '{{install_root}}/roles/softhsm-prep/files/tokens' 
    node: mzworker0
    local_folder: '{{softhsm_base_path}}/keymanager/'
  ida:  # Auth
    label: ida  
    conf_file: softhsm2.conf
    conf_path: '{{install_root}}/roles/softhsm-prep/files/'
    tokens_path: '{{install_root}}/roles/softhsm-prep/files/tokens' 
    node: mzworker0
    local_folder: '{{softhsm_base_path}}/ida/'


repos:
  commons:
    src: https://github.com/mosip/commons 
    dest: '{{tmp_dir}}/commons'
    tag: 1.0.9
  prereg:
    src: https://github.com/mosip/pre-registration
    dest: '{{tmp_dir}}/pre-registration'
    tag: master
  regproc:
    src: https://github.com/mosip/registration
    dest: '{{tmp_dir}}/registration'
    tag: master
  ida:
    src: https://github.com/mosip/id-authentication
    dest: '{{tmp_dir}}/id-authentication'
    tag: 1.0.9
  pms:
    src: https://github.com/mosip/partner-management-services
    dest: '{{tmp_dir}}/partner-management-services'
    tag: master

# DBs 
#
databases:
  mosip_kernel:
    sql_path: '{{repos.commons.dest}}/db_scripts'
  mosip_master:
    sql_path: '{{repos.commons.dest}}/db_scripts'
  mosip_iam:
    sql_path: '{{repos.commons.dest}}/db_scripts'
  mosip_audit:
    sql_path: '{{repos.commons.dest}}/db_scripts'
  mosip_idrepo:
    sql_path: '{{repos.commons.dest}}/db_scripts'
  mosip_idmap:
    sql_path: '{{repos.commons.dest}}/db_scripts'
  mosip_prereg:
    sql_path: '{{repos.prereg.dest}}/db_scripts'
  mosip_regprc:
    sql_path: '{{repos.regproc.dest}}/db_scripts'
  mosip_ida:
    sql_path: '{{repos.ida.dest}}/db_scripts'
  mosip_pmp:
    sql_path: '{{repos.pms.dest}}/db_scripts'

nfs:
  folder: /srv/nfs/mosip
