name: activemq
docker:
  image:  webcenter/activemq:latest
  containerPort: 61616
  nodeport: 30616
  min-memory: 512
  max-memory: 2048
  storeusage: 2 gb
  tempusage: 1 gb
  webPort: 8161
  servicePort: 80
services:
  activemq:
    podconfig: {{ podconfig.activemq.service | to_yaml }}

adminPassword: '' # Defined diretly in helm command 

sc:
  name: ""
pv:
  name: activemq
  size: 500Mi  
pvc:
  name: activemq
  size: 500Mi 

mountPath: /data/activemq  # path inside docker

nfs:
  server: {{ nfs.server }} 
  path: {{ activemq.nfs_path }}
