Following External dependencies have been created for {{ env_name }}:

1. Proxy Server {{ env_name }}

        Proxy Server {{ env_name }} DNS:  {{ proxy_server_dns }}
        Proxy Server {{ env_name }} IP:   {{ proxy_server_ip }}


2. Keymanager {{ env_name }}
    # can be accessed through Proxy server vm

        Keymanager {{ env_name }} IP: {{ keymanager_server_ip }}


3. Registration Processor DMZ {{ env_name }}
    # can be accessed through Proxy server vm

        Registration Processor {{ env_name }} DMZ IP:  {{ dmz_ip }}


4. Clamav {{ env_name }}
    # can be accessed through Proxy server vm

        Clamav  IP {{ env_name }}:  {{ clamav_ip }}


5. HDFS Master {{ env_name }}
    # can be accessed through Proxy server vm

        HDFS Master {{ env_name }} IP:  {{ hdfs_master_ip }}


6. HDFS Slave {{ env_name }}
    # can be accessed through Proxy server vm

        HDFS Slave {{ env_name }} IP:  {{ hdfs_slave_ip }}


7. Postgres Server: {{ env_name }}
    # can be accessed through Proxy server vm

        Postgres Server {{ env_name }} IP: {{ postgres_server_ip }}

7. ActiveMQ Server: {{ env_name }}
    # can be accessed through Proxy server vm

        ActiveMQ Server {{ env_name }} IP: {{ activemq_ip }}


The deployments cluster which has the services running on Kubernetes has following configuration:

        Deployments {{ env_name }} cluster  DNS: {{ deployments_cluster_dns }}
        Deployments {{ env_name }} cluster  IP:  {{ deployments_cluster_ip }}
         Deployments {{ env_name }} cluster configuration file location:  {{ deployments_cluster_config_location }}


All the Machines are created with username: {{ global_username }}
And the private key to connect to these VMs is stored in {{ private_key_location }}
