This file contains information about all the Devops Box installations MOSIP Launcher has created.

Please delete this file or store it at a safe place since it contains URLs, usernames, passwords, and other critical information.


* Devops Cluster Setup:

    Devops cluster DNS: {{ devops_cluster_dns }}
    Devops cluster configuration file location:  {{ devops_cluster_config_location }}


Inside Devops cluster, following Docker containers are running:


1. Docker Registry

        Docker Registry URL:  {{ docker_registry_url }}
        Docker Registry Username: {{ docker_registry_username }}
        Docker Registry Password: {{ docker_registry_password }}

2. Jfrog

        Jfrog URL: {{ jfrog_url }}
        Jfrog Username: {{ jfrog_username }}
        Jfrog Password: {{ jfrog_password }}

3. Jenkins

        Jenkins URL: {{ jenkins_url }}
        Jenkins Username: {{ jenkins_username }}
        Jenkins Password: {{ jenkins_password }}









