apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: main-ingress
  namespace: default
  annotations:
     kubernetes.io/ingress.class: "nginx"
     nginx.com/health-checks: "true"
spec:
  rules:
  - http:
      paths:

      - path: /v1/registrationstatus
        backend:
          serviceName: {{regproc_reg_status_name}}
          servicePort: 80

      - path: /v1/packetreciever
        backend:
          serviceName: {{regproc_packet_receiver_name}}
          servicePort: 80


