namespace: default
serviceName: softhsm-{{hsm_prop.label}}

activeProfileEnv: mz 
springConfigLabel: master
configServerUrl: http://config-server/config
artifactoryUrl: http://13.71.87.138:8040

docker:
  image: mosipdev/softhsm
  tag: v1
  ports:
    containerPort: 5666
    servicePort: 80

confFile: {{hsm_prop.conf_file}}
mountPath: /softhsm  # path inside docker

sc:
  name: manual
pv:
  name: softhsm-{{hsm_prop.label}}-pv
  size: 20Mi
pvc:
  name: softhsm-{{hsm_prop.label}}-pvc
  size: 20Mi 

nfs:
  server: console
  path: {{hsm_prop.nfs_path}}

probe:
  initialDelay: 15  # Seconds
  period: 30 # Seconds
healthUrl: ''
