namespace: default
component: dmzregproc
part-of: mosip
activeProfileEnv: dmz 
springConfigLabel: master
configServerUrl: http://mzworker0:30080/config  # Config server is on MZ
storageClass:  manual

probe:
  initialDelay: 30  # Seconds
  period: 30 # Seconds

ingress:
   namespace: default

artifactoryUrl: http://13.71.87.138:8040

domainName: {{ sandbox_domain_name }}
internalDomain: {{ clusters.dmz.nodePortNode }} 
isGlowroot: {{ is_glowroot }} 

landing:   # Landing folder where packets land
  pv:
    name: landing-pv
    size: 5Gi
  pvc:
    name: landing-pvc 
    size: 5Gi
  nfs:
    server: {{ regproc.nfs.server }}
    path:  {{ regproc.nfs.landing_folder }} 
  mountPath: /mnt/regproc/landing # Internal pod path

imagePullPolicy: Always 
services:
  receiver:
    serviceName: regproc-packet-receiver-stage
    dockerImage: mosipdev/registration-processor-packet-receiver-stage
    dockerTag: 1.0.10_PATCH
    ports:
      eventbusPort: 5711
      hazelcastPort: 5701
      containerPort: 8081
      servicePort: 80
    ingressPath: /registrationprocessor/v1/packetreceiver/
    healthUrl: /registrationprocessor/v1/packetreceiver/actuator/health
  camel:
    serviceName: regproc-camel-stage
    dockerImage: mosipdev/registration-processor-common-camel-bridge
    dockerTag: 1.0.10_PATCH
    ports:
      eventbusPort: 5723
      hazelcastPort: 5701
      containerPort: 8022
      servicePort: 80
    ingressPath: '' 
    healthUrl: /registrationprocessor/v1/camelbridge/actuator/health
  status:
    serviceName: regproc-registration-status-service
    dockerImage: mosipdev/registration-processor-registration-status-service
    dockerTag: 1.0.10_PATCH
    ports:
      containerPort: 8083
      servicePort: 80
    ingressPath: /registrationprocessor/v1/registrationstatus/
    healthUrl: /registrationprocessor/v1/registrationstatus/actuator/health
  pktserver:
    serviceName: regproc-dmz-packet-server
    dockerImage: mosipdev/registration-processor-dmz-packet-server
    dockerTag: 1.0.9
    pv:
      name: pktserver-pv
      size: 5Gi  # Same as landing above
    pvc:
      name: pktserver-pvc
      size: 5Gi  # Same as landing above
    nfs:
      server: console
      path:  /srv/nfs/mosip/landing/ #  Same as above
    ports:
      containerPort: 8082
      servicePort: 80
    ingressPath: ''  # NOTE: Seperate ingress for pktserver due to different rewrite rule.
    healthUrl: ''
      

