[defaults]
roles_path: roles/
ansible_python_interpreter: /usr/bin/python2  # Python3 will be best to use with CentOS 8
host_key_checking: false  # Required for initial key exchange.
log_path: /tmp/ansible.log
ansible_user: mosipuser

# - name: Install requests python package
#   pip:
#     name: requests
#   vars:
#     ansible_python_interpreter: /usr/bin/python3
