gitRepo:
  uri: https://github.com/mosip/mosip-config
  version: camdgc-qa2
  ## Folders within the base repo where properties may be found.
  searchFolders: ""
  private: false
  ## User name of user who has access to the private repo. Ignore for public repo
  username: ""
  token: ""

envVariables:
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_API_PUBLIC_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-api-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_API_INTERNAL_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-api-internal-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_ADMIN_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-admin-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PREREG_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-prereg-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_RESIDENT_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-resident-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PMP_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-pmp-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_COMPLIANCE_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-compliance-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_ESIGNET_HOST
    valueFrom:
      configMapKeyRef:
        name: global
        key: mosip-esignet-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_DB_DBUSER_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db-common-secrets
        key: db-dbuser-password
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_INTERNAL_URL
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-internal-url
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_EXTERNAL_URL
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-external-url
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_INTERNAL_HOST
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-internal-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_EXTERNAL_HOST
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-external-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_ABIS_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_abis_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_SYNCDATA_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_syncdata_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_CRESER_IDPASS_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_creser_idpass_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MPARTNER_DEFAULT_AUTH_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mpartner_default_auth_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_IDREPO_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_idrepo_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MPARTNER_DEFAULT_PRINT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mpartner_default_print_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MPARTNER_DEFAULT_DIGITALCARD_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mpartner_default_digitalcard_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_ADMIN_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_admin_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_AUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_auth_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_CREREQ_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_crereq_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_CRESER_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_creser_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_DATSHA_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_datsha_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_IDA_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_ida_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_MISP_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_misp_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PMS_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_pms_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_POLICYMANAGER_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_policymanager_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_REG_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_reg_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_REGPROC_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_regproc_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_RESIDENT_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_resident_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PREREG_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_prereg_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_HOTLIST_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_hotlist_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_DIGITALCARD_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mosip_digitalcard_client_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: keycloak
        key: admin-password
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SOFTHSM_KERNEL_SECURITY_PIN
    valueFrom:
      secretKeyRef:
        name: softhsm-kernel
        key: security-pin
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SOFTHSM_IDA_SECURITY_PIN
    valueFrom:
      secretKeyRef:
        name: softhsm-ida
        key: security-pin
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDA_WEBSUB_AUTHTYPE_CALLBACK_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: ida-websub-authtype-callback-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDA_WEBSUB_CREDENTIAL_ISSUE_CALLBACK_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: ida-websub-credential-issue-callback-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDA_WEBSUB_PARTNER_SERVICE_CALLBACK_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: ida-websub-partner-service-callback-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDA_WEBSUB_CA_CERTIFICATE_CALLBACK_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: ida-websub-ca-certificate-callback-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDA_WEBSUB_HOTLIST_CALLBACK_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: ida-websub-hotlist-callback-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDA_WEBSUB_MASTERDATA_TEMPLATES_CALLBACK_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: ida-websub-masterdata-templates-callback-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDA_WEBSUB_MASTERDATA_TITLES_CALLBACK_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: ida-websub-masterdata-titles-callback-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_IDREPO_WEBSUB_VID_CREDENTIAL_UPDATE_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: idrepo-websub-vid-credential-update-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_RESIDENT_WEBSUB_CREDENTIAL_STATUS_UPDATE_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: resident-websub-credential-status-update-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_KERNEL_TOKENID_UIN_SALT
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: mosip-kernel-tokenid-uin-salt
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_KERNEL_TOKENID_PARTNERCODE_SALT
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: mosip-kernel-tokenid-partnercode-salt
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_PRINT_WEBSUB_HUB_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: print-websub-hub-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_HUB_SECRET_ENCRYPTION_KEY
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: hub-secret-encryption-key
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_S3_ACCESSKEY
    valueFrom:
      configMapKeyRef:
        name: s3
        key: s3-user-key
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_S3_REGION
    valueFrom:
      configMapKeyRef:
        name: s3
        key: s3-region
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_S3_SECRETKEY
    valueFrom:
      secretKeyRef:
        name: s3
        key: s3-user-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_HOST
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: smtp-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_HOST
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: sms-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_PORT
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: smtp-port
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_PORT
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: sms-port
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_USERNAME
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: smtp-username
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_USERNAME
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: sms-username
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_SECRET
    valueFrom:
      secretKeyRef:
        name: msg-gateway
        key: smtp-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_SECRET
    valueFrom:
      secretKeyRef:
        name: msg-gateway
        key: sms-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_PREREG_CAPTCHA_SITE_KEY
    valueFrom:
      secretKeyRef:
        name: mosip-captcha
        key: prereg-captcha-site-key
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_PREREG_CAPTCHA_SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: mosip-captcha
        key: prereg-captcha-secret-key
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_RESIDENT_CAPTCHA_SITE_KEY
    valueFrom:
      secretKeyRef:
        name: mosip-captcha
        key: resident-captcha-site-key
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_RESIDENT_CAPTCHA_SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: mosip-captcha
        key: resident-captcha-secret-key
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_S3_PRETEXT_VALUE
    valueFrom:
      secretKeyRef:
        name: s3
        key: s3-pretext-value
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MPARTNER_DEFAULT_MOBILE_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mpartner_default_mobile_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_RESIDENT_WEBSUB_AUTHTYPE_STATUS_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: resident-websub-authtype-status-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_RESIDENT_WEBSUB_AUTH_TRANSACTION_STATUS_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: resident-websub-auth-transaction-status-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_IDA_KYC_TOKEN_SECRET
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: mosip-ida-kyc-token-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PARTNER_CRYPTO_P12_PASSWORD
    valueFrom:
      secretKeyRef:
        name: conf-secrets-various
        key: mosip-partner-crypto-p12-password
    enabled: true

