DEBEZ_CONN_NAME='audit'; # change this.. give unique name for each db/table
DB_USER='postgres'; # change this
DB_NAME='mosip_audit'; # change this
DB_SCHEMA_NAME='audit'; # change this
DB_TABLE_NAME='app_audit_log'; # change this
DB_HOSTNAME='postgres-postgresql.postgres'; # change .. this is the db service name/hostname/ip
DB_PORT='5432'; # change this.. this is the db port
DB_PASS=:
ES_HOSTNAME='elasticsearch-master.cattle-logging-system'; # change this.. this is the ES service name/hostname/ip
ES_PORT='9200'; # change this.. this is the ES port

DB_PREFIX_INDEX='mosip_qa4'; # needn't change
DEBEZ_CONN_URL='debezium-service.reporting:8083'; # needn't change .. this is the debezium-connector service name
ES_CONN_URL='es-connect.reporting:8083'; # needn't change .. this is the ES-connector service name


curl \
  -X POST \
  http://$DEBEZ_CONN_URL/connectors \
  -H 'Content-Type: application/json' \
  -d \
  '{
      "name": '\"$DEBEZ_CONN_NAME\"',
      "config": {
          "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
          "plugin.name": "pgoutput",
          "publication.autocreate.mode": "filtered",
          "database.hostname": '\"$DB_HOSTNAME\"',
          "database.port": '\"$DB_PORT\"',
          "database.user": '\"$DB_USER\"',
          "database.password": '\"$DB_PASS\"',
          "database.dbname": '\"$DB_NAME\"',
          "database.server.name": '\"$DB_PREFIX_INDEX\"',
          "table.include.list": '\"$DB_SCHEMA_NAME.$DB_TABLE_NAME\"'
      }
}';
curl \
  -X POST \
  http://$ES_CONN_URL/connectors \
  -H 'Content-Type: application/json' \
  -d \
  '{
      "name": '\"$DEBEZ_CONN_NAME\"',
      "config": {
          "connector.class": "io.confluent.connect.elasticsearch.ElasticsearchSinkConnector",
          "name": '\"$DEBEZ_CONN_NAME\"',
          "connection.url": '\"http://$ES_HOSTNAME:$ES_PORT\"',
          "tasks.max": "1",
          "topics": '\"$DB_PREFIX_INDEX.$DB_SCHEMA_NAME.$DB_TABLE_NAME\"',
          "key.ignore": "true",
          "schema.ignore": "true",
          "key.converter": "org.apache.kafka.connect.storage.StringConverter",
          "value.converter": "org.apache.kafka.connect.json.JsonConverter",
          "transforms": "tsconvert01,tsconvert02,tsconvert03,tsconvert04",

          "transforms.tsconvert01.type": "io.debezium.transforms.ExtractNewRecordState",
          "transforms.tsconvert01.delete.handling.mode": "rewrite",
          "transforms.tsconvert01.add.fields": "source.ts_ms:ts_ms,table,lsn",
          "transforms.tsconvert01.add.fields.prefix": "source_",

          "transforms.tsconvert02.type": "io.mosip.kafka.connect.transforms.TimestampConverterAdv$Value",
          "transforms.tsconvert02.field": "source_ts_ms",

          "transforms.tsconvert03.type": "io.mosip.kafka.connect.transforms.TimestampConverterAdv$Value",
          "transforms.tsconvert03.field": "action_dtimes",
          "transforms.tsconvert03.seconds_type": "micro",

          "transforms.tsconvert04.type": "io.mosip.kafka.connect.transforms.TimestampConverterAdv$Value",
          "transforms.tsconvert04.field": "log_dtimes",
          "transforms.tsconvert04.seconds_type": "micro"
      }
}';
