DEBEZ_CONN_NAME='audit'; # change this.. give unique name for each db/table

DEBEZ_CONN_URL='debezium-service.reporting:8083'; # needn't change .. this is the debezium-connector service name
ES_CONN_URL='es-connect.reporting:8083'; # needn't change .. this is the ES-connector service name


curl \
  -X DELETE \
  "http://$DEBEZ_CONN_URL/connectors/debezium-connector-$DEBEZ_CONN_NAME";
curl \
  -X DELETE \
  "http://$ES_CONN_URL/connectors/es-connector-$DEBEZ_CONN_NAME";
