
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{regproc_landing_pvc_name}} 
  labels:
    app: {{regproc_landing_pvc_name}}
spec:
  storageClassName: local-storage
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{regproc_landing_size}} 
  selector:
    matchLabels:
      name: {{regproc_landing_pv_name}} # Persistent volume 
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{regproc_archival_pvc_name}} 
  labels:
    app: {{regproc_archival_pvc_name}} 
spec:
  storageClassName: local-storage
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{regproc_archival_size}}
  selector:
    matchLabels:
      name: {{regproc_archival_pv_name}} # Persistent volume 



