---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{prereg_ui_name}}
  namespace: default
  labels:
    module: prereg
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{prereg_ui_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{prereg_ui_name}}
        module: prereg
    spec:
      containers:
      - name: {{prereg_ui_name}}
        image: '{{prereg_ui_image}}:{{prereg_ui_version}}'
        ports:
        - containerPort: 80
        readinessProbe:
          tcpSocket:
            port: 80  # All defaults used
        volumeMounts:
            - name: ui-config 
              mountPath: /usr/share/nginx/html/assets/config.json
              # The above path is fixed in Dockerfile
              subPath: config.json #TODO: subPath is needed.  Check why
              # The config map gets mounted like files where key=file, value=file contents
      volumes:
        - name: ui-config
          configMap:
            name: {{prereg_ui_config_name}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{prereg_ui_name}}
  namespace: default
spec:
  ports:
    - port: 80
  selector:
    app: {{prereg_ui_name}}
