---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pre-registration-ui
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pre-registration-ui
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: pre-registration-ui
    spec:
      containers:
      - name: pre-registration-ui
        image: mosipid/pre-registration-ui:1.0.6-SNAPSHOT.217
        ports:
        - containerPort: 80
        imagePullPolicy: Always
        volumeMounts:
            - name: config
              mountPath: /usr/share/nginx/html/assets/config.json
              subPath: config.json
      imagePullSecrets:
      - name: pvt-reg-cred
      volumes:
        - name: config
          configMap:
            name: pre-registration-ui-configuration
---
apiVersion: v1
kind: Service
metadata:
  name: pre-registration-ui
  namespace: default
spec:
  ports:
    - port: 80
  selector:
    app: pre-registration-ui
  type: NodePort