apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Values.pv.name }} 
  labels:
    name: {{ .Values.pv.name }} 
spec:
  capacity:
    storage: {{ .Values.pv.size }} 
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ .Values.pv.server }}
    path: {{ .Values.pv.path }}
