---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{kernel_pridgenerator_name}}
  namespace: default
  labels:
    module: kernel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{kernel_pridgenerator_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{kernel_pridgenerator_name}}
        module: kernel
    spec:
      containers:
      - name: {{kernel_pridgenerator_name}}
        image: '{{kernel_pridgenerator_image}}:{{kernel_pridgenerator_version}}'
        env:
        # NOTE: We have to write the spring variable names explicitly here as 
        #       the Dockerfile for this service does not contain ARG and ENV for
        #       some reason.  TODO: Correct the Dockerfile
        - name: spring.profiles.active
          value: qa
        - name: spring.cloud.config.label 
          value: master
        - name:  spring.cloud.config.uri
          value: {{config_server_url}}
        - name: artifactory_url_env  # Not being used in the service as of now
          value: {{artifactory_uri}}
        - name: is_glowroot_env # Not being used as of now. TODO: Remove it
          value: absent
        ports:
        - containerPort: {{kernel_pridgenerator_container_port}} 
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: {{kernel_pridgenerator_name}}
  namespace: default
spec:
  ports:
  - port: 80 
    targetPort: {{kernel_pridgenerator_container_port}} 
  selector:
    app: {{kernel_pridgenerator_name}}
  type: NodePort
