---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{hdfs_name}}
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{hdfs_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{hdfs_name}}
    spec:
      containers:
      - name: {{hdfs_name}}
        image: '{{hdfs_image}}:{{hdfs_version}}'
        ports:
        - containerPort: 50070
        - containerPort: 9000
        - containerPort: 50075
        - containerPort: 50010
        - containerPort: 50020
        - containerPort: 50090

        #TODO: Put a readiness probe
---
apiVersion: v1
kind: Service
metadata:
  name: {{hdfs_name}}
  namespace: default
spec:
  ports:
  - name: hdfs1 
    port: 50070
    targetPort: 50070
  - name: hdfs2
    port: 9000
    targetPort: 9000
  - name: hdfs3
    port: 50075
    targetPort: 50075
  - name: hdfs4
    port: 50010
    targetPort: 50010
  - name: hdfs5
    port: 50020
    targetPort: 50020
  - name: hdfs6
    port: 50090
    targetPort: 50090
  selector:
    app: {{hdfs_name}}
