# Delete hdfs persistence
- hosts: console
  gather_facts: no
  become: yes
  vars_prompt:
    - name: sure 
      prompt: 'Do you want to ERASE all HDFS data? Are you sure? (yes/no)'
      private: no
  tasks:
    - name: Delete namenode data
      file: 
        path: '{{hdfs.nfs.nn.path}}'
        state: absent     
      when: sure.lower().strip() == 'yes'

    - name: Delete datanode data
      file: 
        path: '{{hdfs.nfs.dn.path}}'
        state: absent     
      when: sure.lower().strip() == 'yes'
