# Reset postgres
- hosts: console
  gather_facts: no
  become: yes
  vars_prompt:
    - name: sure 
      prompt: 'Do you want to ERASE all POSTGRES data including KEYCLOAK? Are you sure? (yes/no)'
      private: no
  tasks:
    - name: Delete all postgres data 
      file: 
        path: '{{postgres.nfs_path}}/'
        state: absent     
      when: sure.lower().strip() == 'yes'
