name: tusd-server
docker:
  service: {{ versions.services.tusd.service.keys()[0] }}
  image: {{ versions.services.tusd.service.values()[0] }}
imagePullPolicy: Always

dockerHub:
  private: {{ docker.hub.private }}  
  keyname: {{ docker.hub.keyname }}

services:
  tusd:
    podconfig:
      {{ podconfig.tusd.service | to_nice_yaml(indent=6) | indent(6) }}
    containerPort: 1080
    servicePort: 80
exportLogs: enabled  # Let filebeat export the logs

probe:
  period: 10 # Seconds
  timeout: 5
  livenessPeriod: 10
  failureThreshold: 30
  startupPeriod: 10
  initialDelaySeconds: 60
