# Here we use a directory within Minikube VM for persistence of 
# postgres data.  This is a temporary solution.  DO NOT DELETE Minikube
# VM! All data will be lost.  Tried mounting a directory from host machine
# to Minikube VM, but ran into permission issues.  The directory /home/docker
# is already available in Minikube VM, so that's used.
---
apiVersion: apps/v1
kind: Deployment 
metadata:
  name: postgres
  namespace: default
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: postgres 
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: postgres 
    spec:
      containers:
      - name: postgres
        image: postgres:latest 
        env:
        - name: POSTGRES_PASSWORD
          value: "postgres"
        ports:
        - containerPort: 5432 # default 
        volumeMounts:
        - name: pg-data
          mountPath: /var/lib/postgresql/data/ # See notes above
        imagePullPolicy: "IfNotPresent"
      volumes:
      - name: pg-data
        persistentVolumeClaim:
          claimName: postgres-pv-claim
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: default

spec:
  selector:
    app: postgres
  type: NodePort  # For init of DB from outside Minikube VM. 
  ports:
    - port: 9001  # We use this port in MOSIP.  
      targetPort: 5432
