nodePortHttp: {{ingress_ports.http}} 
nodePortHttps: {{ingress_ports.https}} 
podconfig:
  {{ podconfig.ingress.nginx | to_nice_yaml(indent=2) | indent(2) }}
exportLogs: enabled  # Let filebeat export the logs
