# Script to deploy a postgres db on kubernetes
---
apiVersion: apps/v1
kind: Deployment 
metadata:
  name: {{postgres_name}}
  namespace: default
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: {{postgres_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{postgres_name}} 
    spec:
      containers:
      - name: {{postgres_name}} 
        image: postgres:12.2
        env:
        - name: POSTGRES_PASSWORD
          value: {{postgres_password}} 
        - name: POSTGRES_DB
          value: {{postgres_db}}
        - name: POSTGRES_USER
          value: {{postgres_user}}
        ports:
        - containerPort: {{postgres_container_port}} 
        readinessProbe:
          tcpSocket:
            port: {{postgres_container_port}}  # All defaults used
        volumeMounts:
        - name: pg-data
          mountPath: /var/lib/postgresql/data/ # See notes above
      volumes:
      - name: pg-data
        persistentVolumeClaim:
          claimName: postgres-pv-claim

---
apiVersion: v1
kind: Service
metadata:
  name: {{postgres_name}} 
  namespace: default

spec:
  selector:
    app: {{postgres_name}} 
  # We need nodeport here to connect DB from outside the cluster. 
  # Cannot use ingress (rather, haven't figured out)
  type: NodePort  # For init of DB from outside Minikube VM. 
  ports:
    - port: 80 
      targetPort: {{postgres_container_port}} 
