[Unit]
Description=Apache ActiveMQ
After=network.target

[Service]
Type=forking

User={{ hostvars['localhost']['global_username'] }}
Group={{ hostvars['localhost']['global_username'] }}

ExecStart=/opt/activemq/bin/activemq start
ExecStop=/opt/activemq/bin/activemq stop

[Install]
WantedBy=multi-user.target