name: biosdk # Will be used as service name too
services:
  serviceName: {{ versions.services.mock.biosdk.keys()[0] }}
  dockerImage: {{ versions.services.mock.biosdk.values()[0] }}
  servicePort: 80
  containerPort: 9099
component: biosdk

exportLogs: enabled  # Let filebeat export the logs

imagePullPolicy: Always

biosdklib: io.mosip.mock.sdk.impl.SampleSDK
