name: biosdk # Will be used as service name too
services:
  serviceName: {{ versions.services.mock.biosdk.keys()[0] }}
  dockerImage: {{ versions.services.mock.biosdk.values()[0] }}
  ingress: /biosdk-service
  servicePort: 80
  containerPort: 9099
  healthUrl: /biosdk-service/actuator/health
  podconfig:
    {{ podconfig.biosdk.service | to_nice_yaml(indent=6) | indent(4) }}

component: biosdk

probe:
  period: 10 # Seconds
  timeout: 5
  livenessPeriod: 30
  failureThreshold: 15
  startupPeriod: 10
  initialDelaySeconds: 30

exportLogs: enabled  # Let filebeat export the logs

imagePullPolicy: Always

biosdklib: io.mosip.mock.sdk.impl.SampleSDK
biosdklibzip: http://artifactory-service/artifactory/libs-release-local/biosdk/biosdk-lib.zip
