- name: Install psql rpm
  yum: 
    name:  http://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm
    state: present
  become: yes

- name: Install psql13
  yum:
    name:  postgresql13
    state: present
  become: yes

