  location /v1/keymanager/ {
                        proxy_set_header Host $host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                        proxy_pass  http://{{ hostvars['localhost']['output_private_ip_keymanager_' + env_name] | json_query('stdout')}}:{{ services.kernel_keymanager_port }}/v1/keymanager/;


    }

    location /registrationprocessor/v1/packetreceiver/{
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_pass  http://{{ hostvars['localhost']['output_private_ip_dmz_' + env_name] | json_query('stdout')}}:{{ services.registration_processor_packet_receiver_port }}/registrationprocessor/v1/packetreceiver/;

    }

    location /registrationprocessor/v1/registrationstatus/ {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_pass  http://{{ hostvars['localhost']['output_private_ip_dmz_' + env_name] | json_query('stdout')}}:{{ services.registration_processor_registration_status_port }}/registrationprocessor/v1/registrationstatus/;

    }

    location /registrationprocessor/v1/packetgenerator/ {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_pass  http://{{ hostvars['localhost']['output_private_ip_dmz_' + env_name] | json_query('stdout')}}:{{ services.registration_processor_packet_generator_port }}/registrationprocessor/v1/packetgenerator/;

    }


    location / {
        proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            #proxy_set_header X-Forwarded-Host $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_connect_timeout                   3600s;
            proxy_send_timeout                      3600s;
            proxy_read_timeout                      3600s;

            proxy_pass https://{{ hostvars['localhost']['output_public_ip_deployments_cluster_' + env_name] | json_query('stdout')}}/;
            root   /usr/share/nginx/html;

    }

    error_page   500 502 503 504  /50x.html;
           
           
    location = /50x.html {
                            root   /usr/share/nginx/html;
    }
