---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{kernel_emailnotification_name}}
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{kernel_emailnotification_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{kernel_emailnotification_name}}
    spec:
      containers:
      - name: {{kernel_emailnotification_name}}
        image: '{{kernel_emailnotification_image}}:{{kernel_emailnotification_version}}'
        env:
        - name: active_profile_env
          value: qa
        - name: spring_config_label_env
          value: master
        - name: spring_config_url_env
          value: {{config_server_url}}
        - name: artifactory_url_env
          value: '{{artifactory_uri}}'
        - name: is_glowroot_env
          value: absent
        ports:
        - containerPort: 8083
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: {{kernel_emailnotification_name}}
  namespace: default
spec:
  ports:
  - port: 80 
    targetPort: 8083
  selector:
    app: {{kernel_emailnotification_name}}
  type: NodePort
