# Script to deploy a postgres db on kubernetes
---
apiVersion: apps/v1
kind: Deployment 
metadata:
  name: {{keycloak_name}}
  namespace: default
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: {{keycloak_name}}
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: {{keycloak_name}}
    spec:
      containers:
      - name: {{keycloak_name}}
        image: jboss/keycloak:9.0.0 
        env:
        - name: KEYCLOAK_USER 
          value: '{{keycloak_user}}' 
        - name: KEYCLOAK_PASSWORD 
          value: '{{keycloak_password}}'
        - name: DB_VENDOR 
          value: postgres
        - name: DB_ADDR
          value: {{postgres_name}} 
        - name: DB_PORT
          value: "80" 
        - name: DB_USER 
          value: '{{postgres_user}}' 
        - name: DB_PASSWORD
          value: '{{postgres_password}}' 
        - name: KEYCLOAK_FRONTEND_URL
          value: '{{keycloak_external_url}}' 
  
        ports:
        - containerPort: 8080 # default 

        imagePullPolicy: "IfNotPresent"
---
apiVersion: v1
kind: Service
metadata:
  name: {{keycloak_name}}
  namespace: default

spec:
  selector:
    app: {{keycloak_name}}
  type: NodePort  # For init of DB from outside Minikube VM. 
  ports:
      port: 80 
      targetPort: 8080 
