## The data here is  of generic interest to modules in different namespaces hence this is marked as global.
## Replace your domain names here
## Default recommended routing:
##   mosip-api-host: Public load balancer (LB)
##   mosip-api-internal-host: Internal LB 
##   mosip-prereg-host:  Public LB
##   mosip-activemq-host: Internal LB
##   mosip-kibana-host: Internal LB
##   mosip-regclient-host: Internal LB
##   mosip-admin-host: Internal LB

apiVersion: v1
kind: ConfigMap
metadata:
  name: global
  namespace: default
data:
  mosip-api-host: api.sandbox.xyz.net
  mosip-api-internal-host: api-internal.sandbox.xyz.net
  mosip-prereg-host: prereg.sandbox.xyz.net
  mosip-activemq-host: activemq.sandbox.xyz.net
  mosip-kibana-host: kibana.sandbox.xyz.net
  mosip-regclient-host: regclient.sandbox.xyz.net 
  mosip-admin-host: admin.sandbox.xzy.net
  mosip-minio-host: minio.sandbox.xyz.net
  is_glowroot_env: absent

