#!/bin/bash

# Only peers in the below range allowed access.
iptables -A FORWARD -m iprange --src-range 10.13.13.2-10.13.13.51 -d <allowed-ip1> -j ACCEPT
iptables -A FORWARD -m iprange --dst-range 10.13.13.2-10.13.13.51 -s <allowed-ip1> -j ACCEPT

iptables -A FORWARD -m iprange --src-range 10.13.13.2-10.13.13.51 -d <allowed-ip2> -j ACCEPT
iptables -A FORWARD -m iprange --dst-range 10.13.13.2-10.13.13.51 -s <allowed-ip2> -j ACCEPT

iptables -A FORWARD -m iprange --src-range 10.13.13.2-10.13.13.51 -d <allowed-ip3> -j ACCEPT
iptables -A FORWARD -m iprange --dst-range 10.13.13.2-10.13.13.51 -s <allowed-ip3> -j ACCEPT




# drop all the rest of the packets
iptables -A FORWARD -j DROP

#nat forward rule
iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
