name: clamav
docker:
  image: mkodockx/docker-clamav:latest
  containerPort: 3310
imagePullPolicy: IfNotPresent

services:
  clamav:
    podconfig:
      {{ podconfig.clamav.service | to_nice_yaml(indent=6) | indent(6) }}

exportLogs: enabled  # Let filebeat export the logs


