name: Deploy External services of mosip using Helmsman

on:
  workflow_dispatch:
    inputs:
      mode:
        description: "Choose Helmsman mode: dry-run or apply"
        required: true
        default: "dry-run"
        type: choice
        options:
          - dry-run
          - apply       
  push:
    paths:
      - deployment/v3/helmsman/dsf/*

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Determine matrix based on event
        id: set-matrix
        run: |
          echo "include:" > matrix.yaml
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "  - dsf_files: prereq-dsf.yaml" >> matrix.yaml
            echo "    wg_conf: wg0" >> matrix.yaml
            echo "  - dsf_files: external-dsf.yaml" >> matrix.yaml
            echo "    wg_conf: wg1" >> matrix.yaml
          else
            # Debugging commit references
            echo "Before commit: ${{ github.event.before }}"
            echo "Current commit: ${{ github.sha }}"
          
            changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -E 'deployment/v3/helmsman/dsf/prereq-dsf.yaml|deployment/v3/helmsman/dsf/external-dsf.yaml' || true)
            if [[ "$changed_files" =~ "deployment/v3/helmsman/dsf/prereq-dsf.yaml" ]]; then
              echo "  - dsf_files: prereq-dsf.yaml" >> matrix.yaml
              echo "    wg_conf: wg0" >> matrix.yaml
            fi
            if [[ "$changed_files" =~ "deployment/v3/helmsman/dsf/external-dsf.yaml" ]]; then
              echo "  - dsf_files: external-dsf.yaml" >> matrix.yaml
              echo "    wg_conf: wg1" >> matrix.yaml
            fi
          fi
          echo "matrix=$(<matrix.yaml)" >> $GITHUB_ENV
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
  deploy:
    runs-on: ubuntu-latest
    needs: set-matrix
    strategy:
      matrix: |
        ${{ needs.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set Default Mode
        run: |
          if [ -z "${{ github.event.inputs.mode }}" ]; then
            echo "mode=apply" >> $GITHUB_ENV
          else
            echo "mode=${{ github.event.inputs.mode }}" >> $GITHUB_ENV
          fi        

      - name: Setup ufw firewall
        run: |
          sudo ufw enable
          sudo ufw allow ssh
          sudo ufw allow 51820/udp
          sudo ufw status  

      - name: Install WireGuard
        run: sudo apt-get install -y wireguard

      - name: Configure WireGuard
        run: |
          echo "${{ secrets.CLUSTER_WIREGUARD_WG0 }}" | sudo tee /etc/wireguard/wg0.conf
          echo "${{ secrets.CLUSTER_WIREGUARD_WG1 }}" | sudo tee /etc/wireguard/wg1.conf

      - name: Start WireGuard
        run: |
          sudo chmod 600 /etc/wireguard/${{ matrix.wg_conf }}.conf
          sudo chmod 700 /etc/wireguard/
          sudo chmod 644 /lib/systemd/system/wg-quick@.service
          sudo systemctl daemon-reload
          sudo wg-quick up ${{ matrix.wg_conf }}
          sudo wg show ${{ matrix.wg_conf }}

      - name: Setup Helm
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          sudo chmod 700 get_helm.sh
          sudo ./get_helm.sh
          helm version --client

      - name: Install Helmsman
        run: |
          curl -L https://github.com/Praqma/helmsman/releases/download/v3.17.1/helmsman_3.17.1_linux_amd64.tar.gz -o helmsman.tar.gz
          tar xzf helmsman.tar.gz
          sudo mv helmsman /usr/local/bin          

      - name: Initiate helmsman to apply the DSF configurations.
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
        run: |
          curl -L https://istio.io/downloadIstio | ISTIO_VERSION=1.22.0 TARGET_ARCH=x86_64 sh -
          export PATH=$PWD/istio-1.22.0/bin:$PATH
          curl -LO https://dl.k8s.io/release/v1.31.3/bin/linux/amd64/kubectl
          chmod +x kubectl
          mkdir -p ~/.local/bin
          mv ./kubectl ~/.local/bin/kubectl
          kubectl version --client        
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
          chmod 400 $HOME/.kube/config
          export KUBECONFIG=$HOME/.kube/config
          kubectl config view
          kubectl get nodes
          helmsman --debug --${{ env.mode }} -f deployment/v3/helmsman/dsf/${{ matrix.dsf_files }} 
