component: resident
part-of: mosip
activeProfileEnv: mz 
springConfigLabel: {{ config_repo.branch }} 
configServerUrl: {{ config_server.internal_url }}
ingress:
   namespace: default
artifactoryUrl: {{ artifactory_url }} 
imagePullPolicy: Always

sitePublicUrl: {{ site.sandbox_public_url }}

isGlowroot: {{ is_glowroot }} 

probe:
  initialDelay: 30  # Seconds
  period: 30 # Seconds

dockerHub:
  private: {{ docker_hub.private }}  
  keyname: {{ docker_hub.keyname }}

services:
  resident: 
    serviceName: {{ versions.services.resident.resident.keys()[0] }} 
    dockerImage: {{ versions.services.resident.resident.values()[0] }}
    dockerTag: 1.0.10
    containerPort: 8099
    servicePort: 80
    ingressPath: /resident/v1
    healthUrl: /resident/v1/actuator/health
