namespace: default
component: resident
part-of: mosip
activeProfileEnv: mz 
springConfigLabel: master
configServerUrl: http://config-server/config
ingress:
   namespace: default
artifactoryUrl: http://104.211.246.17:8040
imagePullPolicy: Always
domainName: {{ sandbox_domain_name }}
internalDomain: {{ clusters.mz.nodePortNode }} 
isGlowroot: {{ is_glowroot }} 
probe:
  initialDelay: 30  # Seconds
  period: 30 # Seconds
services:
  resident: 
    serviceName: resident-service
    dockerImage: mosipdev/resident-service
    dockerTag: 1.0.10
    containerPort: 8099
    servicePort: 80
    ingressPath: /resident/v1
    healthUrl: /resident/v1/actuator/health
